services: # Do patter data base per service
  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    env_file:
      - ./order-service/.env  
    container_name: order-service
    ports:
      - "50051:50051"
    networks:
      - delivery_network
    depends_on:
      postgres-orders:
        condition: service_healthy
  postgres-orders:
    image: postgres:16-alpine
    container_name: postgres-orders
    environment:
      POSTGRES_DB: delivery
      POSTGRES_USER: user_orders
      POSTGRES_PASSWORD: password_orders

    ports:
      - "5432:5432"

    volumes:
      - postgres_orders_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U user_orders -d delivery"]
      interval: 15s
      timeout: 5s
      retries: 5
    networks:
      - delivery_network

  postgres-restaurants:
    image: postgres:16-alpine
    container_name: postgres-restaurants
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: restaurants
      POSTGRES_USER: user_restaurants
      POSTGRES_PASSWORD: password_restaurants
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U user_restaurants -d restaurants"]
      interval: 15s
      timeout: 5s
      retries: 5
    networks:
      - delivery_network
    volumes:
      - postgres_restaurants_data:/var/lib/postgresql/data

    #...
  redis:
    image: redis:8-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - delivery_network
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_logs:/var/lib/zookeeper/log
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - delivery_network
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9101:9101"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost

      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_LOG_SEGMENT_BYTES: 1073741824  # 1GB
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka:29092"]
      interval: 15s
      timeout: 10s
      retries: 10
    networks:
      - delivery_network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - delivery_network
  prometheus:
    image: prom/prometheus:v2.47.2
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command: 
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - delivery_network
  grafana:
    image: grafana/grafana-oss:10.2.2
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - delivery_network
    depends_on:
      - prometheus
      
volumes:
  postgres_orders_data:
    driver: local
  postgres_restaurants_data:
    driver: local
  redis_data:
    driver: local
  zookeeper_data:
    driver: local 
  zookeeper_logs:
    driver: local
  kafka_data:
    driver: local
  grafana_data:
    driver: local

networks:
  delivery_network:
    driver: bridge  
     